@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
body {
    font-family: 'Libre Baskerville', serif;
    background-color: #000;
}

h1 {
    color: #fff;
    font-size: 4rem;
    margin-bottom: 0.5em;
}

hr {
    color: #fff;
    width: 70%;
}

h2 {
    color: #ff8c1a;
}