@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

body {
    font-family: 'Comfortaa', cursive;
    background-color: #fff;
    background: url("../images/background2.jpg") no-repeat fixed;
    -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
    background-size: cover;
    height: 26rem;
    width: 100%;
    position: relative;
    align-content: center;
    margin-left: 0%;
    border-bottom: solid 1px #fff;
}

/* ----------------------- Header */

h1 {
    color: #000;
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

hr {
    color: #000;
    width: 40%;
}

h2 {
    color: #000;
    text-align: center;
}