@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

body {
    font-family: 'Comfortaa', cursive;
    color: #fff;
    background: url("../images/background3.jpg") no-repeat fixed;
    -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
    background-size: cover;
    height: 26rem;
    width: 100%;
    position: relative;
    align-content: center;
    margin-left: 0%;
}

/* ----------------------- Header */

.header-name {
    color: #fff;
    font-size: 3.5rem;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

hr {
    color: #fff;
    width: 40%;
}

.header-title {
    color: #fff;
    text-align: center;
}

/* ----------------------- Links */


.links-section {
    text-align: center;
    margin-top: 1em;
}

.links-section ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.links-section li {
    float: left;
    padding: 2px 5px;
}

.link-item {
    color: #fff;
    text-decoration: none;
    margin: 2em 1em;  
}

.link-item:hover {
    color: #808080;
    text-decoration: line-through;  
}


