@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&family=Poiret+One&display=swap');

body {
    color: #000;
    background: url("../images/background2.jpg") no-repeat fixed;
    -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    align-content: center;
    margin-left: 0%;
}
/* ----------------------- Header */

.header-name {
    font-family: 'Euphoria Script', cursive;
    color: #000;
    font-size: 5.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

.header-title {
    font-family: 'Poiret One', cursive;
    color: #000;
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
}

.avatar {
    height: 7rem;
    width: 7rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
}

.header-title span {
    font-size: 2.5rem;
}

.lang-rotate:before{
    content: '';
    animation: animate infinite 8s;
}
/*-- HTML5 CSS3 Javascript jQuery Python */
@keyframes animate{
    0%{
        content: 'HTML5';
    }
    20%{
        content: 'CSS3';
    }
    40%{
        content: 'Javascript';
    }
    60%{
        content: 'jQuery';
    }
    80%{
        content: 'Python';
    }
    100%{
        content: 'HTML5';
    }
}

/* ----------------------- Links */


.links-section {
    text-align: center;
    margin-top: 1em;
}

.links-section ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.links-section li {
    float: left;
    padding: 2px 5px;
}

.link-item {
    font-family: 'Poiret One', cursive;
    color: #000;
    text-decoration: none;
    margin: 2em 1em;
    font-weight: bold;
    font-size: 2rem;
}

.link-item:hover {
    color: #808080;
    text-decoration: line-through;  
}

.icon-link i {
    text-decoration: none;
    color: #000;
    font-size: 2rem;
}

.icon-link i:hover {
    color: #808080;
}
/* ----------------------- Projects */

.card {
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #e9e9e9;
    border: 1.5px solid #eeeeee;
}

.card-image {
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    width: 100%;
    height: 99%;
}

.card-body {
    font-family: 'Poiret One', cursive;
    font-size: 1.4rem;
}

.card-title {
    font-weight: bold;
    text-decoration: underline;
}

.card-body a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 0.8em;
}

.card-body a:hover {
    color: #808080;
    text-decoration: line-through;  
    font-weight: bold;
}

/* ----------------------- Footer */

.list-inline-item p {
    font-family: 'Poiret One', cursive;
}