@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&family=Poiret+One&display=swap');

body {
    color: #000;
    background: url("../images/background2.jpg") no-repeat fixed;
    -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    align-content: center;
    margin-left: 0%;
}
/* ----------------------- Header */

.header-name {
    font-family: 'Euphoria Script', cursive;
    color: #000;
    font-size: 4.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

.header-title {
    font-family: 'Poiret One', cursive;
    color: #000;
    text-align: center;
    font-weight: bold;
}

.avatar {
    height: 6rem;
    width: 6rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
}

/* ----------------------- Links */


.links-section {
    text-align: center;
    margin-top: 1em;
}

.links-section ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.links-section li {
    float: left;
    padding: 2px 5px;
}

.link-item {
    font-family: 'Poiret One', cursive;
    color: #000;
    text-decoration: none;
    margin: 2em 1em;
    font-weight: bold;
}

.link-item:hover {
    color: #808080;
    text-decoration: line-through;  
}


